
  .IMGcontainer{
height: 100vh;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */

  }
  .submit-img{
    width:40%;
    /* height:40%; */
  /*   border:1px solid green; */
    /* position: absolute;
    top:50%;
    left:50%; */
    /* transform: translate(-50%,-50%); */
    border-radius:10px;
    background-color:rgb(213, 214, 219);
    position:relative;

    /* background: red; */
  }
  .submit-img img{
    width: 100%;
  }
  @media (max-width: 600px){
    .submit-img{
        /* width: 40%; */
        /* height: 30%; */
        /* object-fit: cover; */
        
    }
  }